<h1 class="text-3xl font-bold underline m-10">
  Hello world!
</h1>

<div class="grid md:grid-cols-2">
  <form [formGroup]="vehicleFormGroup" (ngSubmit)="onSubmit() " class="p-8">

    <h2 class="text-xl font-bold text-blue-500">Voertuiginformatie opzoeken</h2>

    <div>
      <!-- SELECT VEHICLE TYPE-->
      <label class="block mt-4">
        <span class="text-gray-700">Van welk type voertuig wilt u voertuiginformatie opzoeken?</span>
        <select formControlName="vehicleType" id="vehicleType" #vehicleType (change)="onChange(vehicleType.value)"
          class="block w-full mt-1 rounded-md bg-gray-100 border-transparent focus:border-gray-500 focus:bg-white focus:ring-0"
          name="vehicle-type">
          <option>Auto</option>
          <option>Motor</option>
          <option>Scooter</option>
        </select>
      </label>
    </div>

    <div>
      <!-- SELECT VEHICLE SUBTYPE-->
      <label class="block mt-4" *ngIf="vehicleType.value === '' ">
        <span class="text-gray-700">Welk type [auto/motor/brommer] hebt u?</span>
        <select
          class="block w-full mt-1 rounded-md bg-gray-100 border-transparent focus:border-gray-500 focus:bg-white focus:ring-0"
          name="auto-subtype">
          <option defaultSelected>choose a vehicle type, please</option>
        </select>
      </label>
      <app-vehicle-auto *ngIf="vehicleType.value === 'Auto' "></app-vehicle-auto>
      <app-vehicle-motor *ngIf="vehicleType.value === 'Motor' "></app-vehicle-motor>
      <app-vehicle-scooter *ngIf="vehicleType.value === 'Scooter' "></app-vehicle-scooter>
    </div>

    <div>
      <!-- INPUT LICENSE PLATE formattingLicencePlate -->
      <label class="block mt-4">
        <span class="text-gray-700">Vul het kenteken van uw [auto/motor/brommer] in.</span>
        <input formControlName="formattingLicencePlate" type="text" (input)="onChangeFormatting()"
          class="mt-1 block w-full rounded-md bg-yellow-400 border-red-400 focus:border-gray-500 focus:bg-yellow-300 focus:ring-0"
          name="formatting-licence-plate" placeholder="Bijvoorbeeld AA-BB-12">
        <div>{{licencePlate}}</div>
        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mt-2" role="alert"
          *ngIf="!isLicencePlateValid">
          <div class="font-bold">Oeps, het ingevoerde kenteken is niet geldig. </div>
          <div class="block sm:inline">Gebruik het volgende formaat AA-12-BB.</div>
        </div>
      </label>
    </div>

    <div>
      <!-- INPUT LICENSE PLATE validatingLicencePlate -->
      <label class="block mt-4">
        <span class="text-gray-700">Vul het kenteken van uw [auto/motor/brommer] in.</span>
        <p>JFK01P
          wx12nz
          g241gh {{isLicencePlateValid}}</p>

        <!-- <input formControlName="validatingLicencePlate" type="text" (input)="onChangeValidating($event)"
          class="mt-1 block w-full rounded-md bg-yellow-400 border-red-400 focus:border-gray-500 focus:bg-yellow-300 focus:ring-0"
          name="validating-licence-plate" placeholder="Bijvoorbeeld 1234"> -->
        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mt-2" role="alert"
          *ngIf="!isLicencePlateValid">
          <div class="font-bold">Helaas is het ingevoerde kenteken niet geldig. Probeer het opnieuw.</div>
        </div>
      </label>
    </div>

    <div class="mt-4">
      <!-- <button type="submit" [disabled]="!vehicleFormGroup.valid">Submit</button> -->
      <button type="submit" [disabled]="!vehicleFormGroup.valid"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
        Verzenden
      </button>
      <div class="text-red-700">Vul alle waardes correct in.</div>
    </div>
  </form>
  <picture>
    <img src="./assets/auto.jpg" alt="auto" class="object-cover h-full w-full">
  </picture>
</div>