$content-wrapper: 1600px;
$content-wrapper-max-desktop: 1160px;
$content-max-laptop: 1300px;
$content-max-tablet: 800px;
$content-max-mobile: 440px;
$header-tablet-height: 34px;
$slide-height: 700px;


$small-desktop-with: 1000px;
$tablet-width: 640px;
$mobile-width: 320px;
